<div class="p-8 flex items-start justify-center">
    <form
      class="w-full py-4 px-6 max-w-lg bg-white border border-gray-200 rounded-lg shadow flex flex-col gap-4"
      [formGroup]="registerForm"
      (ngSubmit)="registerForm.valid"
      autocomplete="off"
    >
  
      <app-form
        [formControl]="$any(registerForm.controls['name'])"
        label="Nombre completo"
        placeholder="Ingrese su nombre completo"
        requiredMessage="El nombre completo es requerido"
      />
  
      <app-form
        [formControl]="$any(registerForm.controls['email'])"
        label="Correo electrónico"
        [type]="'email'"
        placeholder="Ingrese su correo electrónico"
        requiredMessage="El correo electrónico es requerido"
      />
  
  
      <app-form
        [formControl]="$any(registerForm.controls['semestre'])"
        label="Semestre"
        [type]="'semestre'"
        placeholder=" "
        requiredMessage="El semestre es requerido"
      />

      <app-form
        [formControl]="$any(registerForm.controls['carrera'])"
        label="Carrera"
        [type]="'carrera'"
        placeholder=" "
        requiredMessage="La carrera es requerida"
      />
  
  
      <div
        *ngIf="errorMessage"
        class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        <span class="font-medium">Error!</span> {{ errorMessage }}
      </div>
  
      <button
        class="place-self-end w-fit my-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg"
        [disabled]="!registerForm.valid"
        [ngClass]="
          registerForm.valid
            ? 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300'
            : 'bg-blue-400 cursor-not-allowed'
        "
        type="submit"
      >
        añadir
      </button>
    </form>
  </div>